<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <audio id="fondoAudio" src="{{ url_for('static', filename='assets/sound/music.mp3') }}" loop="true" preload="auto"></audio>
        <audio id="sonidoExtra" src="{{ url_for('static', filename='assets/sound/so_hit.mp3') }}" preload="auto"></audio>
        <audio id="sonidoScroll" src="{{ url_for('static', filename='assets/sound/so_scroll.mp3') }}" preload="auto"></audio>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Slime Connect</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>  
        <div class="fondo">
            <h1>SLIME CONNECT</h1>
            <canvas id="canva"></canvas>
            <div id="sota">
                <h3 id="montot">2000$</h3>
                <p id="monret"></p>
                <p id="lowscore2"></p>
                <p id="lowscore"></p>
                <p id="monret2"></p>
                <div id ="turbo">Normal</div>
                <div id="pluslesss">-</div>
                <div id="bet">20$</div>
                <div id="plusless">+</div>
                <div id="btn">  
                    Spin
                </div>
                <div id="improve">+</div>
            </div>
            
        <script>
            const slimeImages = {
                earthi: "{{ url_for('static', filename='assets/images/slime_earthi.png') }}",
                earthiii: "{{ url_for('static', filename='assets/images/slime_earthiii.png') }}",
                firei: "{{ url_for('static', filename='assets/images/slime_firei.png') }}",
                fireiii: "{{ url_for('static', filename='assets/images/slime_fireiii.png') }}",
                icei: "{{ url_for('static', filename='assets/images/slime_icei.png') }}",
                iceiii: "{{ url_for('static', filename='assets/images/slime_iceiii.png') }}",
                thunderi: "{{ url_for('static', filename='assets/images/slime_thunderi.png') }}",
                thunderiii: "{{ url_for('static', filename='assets/images/slime_thunderiii.png') }}",
                windi: "{{ url_for('static', filename='assets/images/Slime Windi.png') }}",
                windiii: "{{ url_for('static', filename='assets/images/Slime Windiii.png') }}",
                holyii: "{{ url_for('static', filename='assets/images/slime_holyii.png') }}",
                holyiii: "{{ url_for('static', filename='assets/images/slime_holyiii.png') }}",
                darkness: "{{ url_for('static', filename='assets/images/DarknessSlime.png') }}",
                bonus: "{{ url_for('static', filename='assets/images/slimebono.png') }}",
                background: "{{ url_for('static', filename='assets/images/background.webp') }}",
                buffer: "{{ url_for('static', filename='assets/images/Slime RPG Buffer.png') }}",
                defender: "{{ url_for('static', filename='assets/images/Slime RPG Defender.png') }}",
                healer: "{{ url_for('static', filename='assets/images/Slime RPG Healer.png') }}",
                attacker: "{{ url_for('static', filename='assets/images/Slime RPG Attacker.png') }}"
            };
        </script>
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/visuals.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/bonusvisuals.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/gameLogic.js') }}"></script>
    </body>
</html>
